:root {
  --primary-color: #110a57;
  --yellow-color: #fec93b;
  --dark-blue: #07689f;
  --normal-blue: #40a8c5;
  --light-blue: #a0d5f4;
}

.wrapper {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

textarea {
  resize: none;
}
